h3 {
  font-family: 'Gruppo', cursive;
}

.current{
  width: 544px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.city-title{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: #37363B;
}

.city-info {
  width: 100%;
  max-width: 500px;
  margin-left: 130px;
  margin-right: -70px;
}