h3 {
  font-family: 'Gruppo', cursive;
}

.current{
  width: 544px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.city-title{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  color: #37363B;
}

.city-info {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding-right: 192px;
}

@media only screen and (max-width: 320px) {
  .city-info {
    margin: auto;
  }

  .summary-redux {
    width: 300px;
  }

  .city-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 930px) {
  .current {
    width: 100%
  }
}