.day-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  padding-bottom: 70px;
}

.ten-day {
  display: flex;
  flex-direction: row;
  border-width: medium;
  width: 100%;
  padding: 10px;
  box-shadow: 2px 3px #9c979785;
  justify-content: center;
  max-width: 800px;
  background-color: #DB634B;
  border-radius: 15px;
  margin: 10px;
  box-sizing: border-box;
}

.ten-day-img {
  width: 60px;
  height: 60px;
  margin: 0 30px;
}

.tenday-card {
  width: 90%;
  max-width: 800px;
}

@media only screen and (max-width: 320px) {
  .day-container {
    width: 100%;
  }

  .tenday-card {
    width: 100%;
    margin-right: 121px;
  }
}
